<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moral Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Add a Moral Person</h1>
            </div>
            <br>

            <form method="POST">

                <label for="name">Company RFC</label>
                <div class="form-row">
                    <input class="form-control" type="text" placeholder="Company RFC" id="business_rfc" name="business_rfc">
                </div>
                <br>
                <div class="form-row">
                    <label for="author">Application ID</label>
                    <input class="form-control" type="text" placeholder="Application ID" id="application_id" name="application_id">
                </div>
                <br>
                <div class="form-row ">
                    <label for="published">Client ID</label>
                    <input class="form-control " type="text" placeholder="Client ID" id="id_cliente" name="id_cliente">
                </div>
                <div class="form-row ">
                    <label for="published">Numero Cuenta</label>
                    <input class="form-control " type="text" placeholder="Numero da Cuenta" id="numero_cuenta_evva" name="numero_cuenta_evva">
                </div>
                <div class="form-row ">
                    <label for="published">CLABE</label>
                    <input class="form-control " type="text" placeholder="CLABE" id="clabe" name="clabe">
                </div>
                <div class="form-row ">
                    <label for="published">Nombre de la Persona Moral</label>
                    <input class="form-control " type="text" placeholder="Nombre de la Persona Moral" id="business_name" name="business_name">
                </div>
                <div class="form-row ">
                    <label for="published">Fecha de Apertura</label>
                    <input class="form-control " type="date" placeholder="DD/MM/AAAA" id="fecha_apertura" name="fecha_apertura">
                </div>
                <div class="form-row ">
                    <label for="published">Primer Nombre Representante</label>
                    <input class="form-control " type="text" placeholder="Primer Nombre Representante" id="legal_first_name" name="legal_first_name">
                </div>
                <div class="form-row ">
                    <label for="published">Segundo Nombre Representante</label>
                    <input class="form-control " type="text" placeholder="Client IID" id="legal_second_name" name="legal_second_name">
                </div>
                <div class="form-row ">
                    <label for="published">Apellido Paterno Representante</label>
                    <input class="form-control " type="text" placeholder="Client IID" id="legal_father_last_name" name="legal_father_last_name">
                </div>
                <div class="form-row ">
                    <label for="published">Apellido Materno Representante</label>
                    <input class="form-control " type="text" placeholder="Client IID" id="legal_mother_last_name" name="legal_mother_last_name">
                </div>

                <br>
                <button type="submit " class="btn btn-primary " style="float:right ">Enviar...</button>

            </form>
            <br><br>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
</body>

</html>